.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.img-container {
    width: 12rem;
}

